<%= content_for :title, "Batukeira: Sistema administrador" %>

<% content_for :header_content do %>
<h1><strong>Batukeira:</strong> Sistema administrador</h1>
<% end %>
<div class="c4-grid-collection">
  <%= render '/navlinks' %>
</div>
