<%%= content_for :title, "<%= name_title %>: Sistema administrador" %>

<%% content_for :header_content do %>
<h1><strong><%= name_title %>:</strong> Sistema administrador</h1>
<%% end %>
<div class="c4-grid-collection">
  <%%= render '/c4/navlinks' %>
</div>
