<!DOCTYPE html>
<html>
<head>
  <title>C4</title>
  <%= stylesheet_link_tag    "c4/application", media: "all" %>
  <%= javascript_include_tag "c4/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
