<%% if current_user.role == "admin" %>
  <%%= link_to users_path, class: 'c4-grid-cell' do %>
    <div class="centered">
      <span class="icon-users"></span>
      <span class="name">Usuarios</span>
      <span class="description">Administra las cuentas del sistema.</span>
    </div>
  <%% end %>
<%% else %>
  <%%= link_to edit_user_path(current_user), class: 'c4-grid-cell' do %>
    <div class="centered">
      <span class="icon-users"></span>
      <span class="name">Usuario</span>
      <span class="description">Edita tu cuenta.</span>
    </div>
  <%% end %>
<%% end %>
